/node_modules
/public/hot
/public/storage
/public/main/images/listing
/public/main/images/shop/*
!/public/main/images/shop/default_shop_image.jpg
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
